 <div class="card rounded-top border-0 shadow" style="margin-top: -300px" *ngIf="recette">
    <div class="card-header heading-footer rounded-top" [ngStyle]="{'background-image': getUrl()}">
    </div>
     <div class="card-body">
         <div class="row title justify-content-center font-weight-bold bg-white rounded-top p-2" style="margin-top: -50px; margin-left: auto; margin-right:auto;">
            <h3>{{recette.name}}</h3>
        </div>
         <div class="p-1">
            <p>
                {{recette.description}}
            </p>
         </div>

         <div class="row justify-content-between">
             <div class="col">
                 <h4>Ingredients :</h4>
                 <div class="pl-3" style="height: 230px; overflow: scroll;">
                    <ul *ngFor="let ingredient of recette.ingredients">
                        <li *ngIf="ingredient.url"><a href="{{ingredient.url}}">{{ingredient.ingredient}}</a></li>
                        <li *ngIf="!(ingredient.url)">{{ingredient.ingredient}}</li>
                    </ul>
                 </div>
             </div>
             <div class="col p-4">
                <img src="{{recette.imgUrl}}" style="max-height: 250px; width: 300px">
             </div>
         </div>

     </div>
</div>

