 .heading-footer
{
background-size: cover;
height: 175px; 
-webkit-box-shadow: none; 
box-shadow: none; 
border: 0px; 
border-radius: 0px; 
}

nav ul{height:200px;}
nav ul{overflow:hidden; overflow-y:scroll;}
