<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<div class="d-flex justify-content-center" style="margin-top: -200px;">
  <div class="searchbar shadow-sm" [ngClass]="{'hover':isCollapsed}" (mouseover)="mouseOverSearch = false" (mouseleave)="mouseOverSearch = true">
    <input class="search_input" type="text" name="" placeholder="Search...">
    <a class="search_icon" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic"><i class="fas fa-filter"></i></a>
      <a class="search_icon" (click)="search()"><i class="fas fa-search"></i></a>
  </div>
</div>


<div *ngFor="let recette of this.listRecettes" style="margin-top: 30px">
     <Khooky-card [infoRecette]="recette"></Khooky-card>
</div>

