<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<form [formGroup]="searchForm" class="d-flex justify-content-center" style="margin-top: -230px;margin-bottom: 150px" (ngSubmit)="search()">
  <div class="searchbar shadow-sm">
    <input class="search_input" #input type="text" name="" formControlName="searchBar" placeholder="Search keywords...">
    <a class="search_icon" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic"><i class="fas fa-filter"></i></a>
    <button type="submit" class="search_icon"><i class="fas fa-search"></i></button>
    <div id="collapseBasic" class="filter shadow-sm" [ngbCollapse]="isCollapsed">
      <h6>Options :</h6>
          <div class="row">
            <div class="col">
              <p>
                <input type="checkbox" id="ingredients" name="Ingredients"
                       unchecked>
                <label class="font-weight-bold" for="ingredients">Ingredients</label>
                <br/>
                <input type="text" class="champ" formControlName="ingredient" placeholder="onion,lemon,.. ">
              </p>
            </div>
            <div class="col">
              <p>
                <input type="checkbox" id="cuisine" name="cuisine"
                       unchecked><label class="font-weight-bold" for="cuisine">Cuisine Type</label>
                <br/>
                <input type="text" class="champ" formControlName="cuisine" placeholder="American">
              </p>
            </div>
            <div class="col">
              <p>
                <input type="checkbox" id="note" name="note"
                       unchecked><label class="font-weight-bold" for="note">Note</label>
                <br/>
                <input type="text" class="champ" formControlName="note">
              </p>
            </div>
            <div class="col">
              <p>
                <input type="checkbox" id="tempDePrep" name="tempDePrep"
                       unchecked><label class="font-weight-bold" for="tempDePrep">tempDePrep</label>
                <br/>
                <input type="text" class="champ" formControlName="tempDePrep" placeholder="1h30">
              </p>
            </div>
          </div>
          <div>

          </div>
    </div>
  </div>
</form>




<div class="row justify-content-center">
  <div  class="col text-center" style="margin-top: 30px" *ngIf="isSubmited && listRecettes.length == 0">
    No results for your query. Try again.
  </div>
</div>

<div>
  <div *ngFor="let recette of this.listRecettes" style="margin-top: 30px">
       <Khooky-card [infoRecette]="recette"></Khooky-card>
  </div>
</div>
